@import url("https://use.typekit.net/cbr3coa.css");

:root {
	--color-light: #fdf4e4;
	--color-earth: #352A2A;
	--color-night: #111014;
	--color-dorna: #F80934;

	--font-sans: 'inter', sans-serif;
	--font-serif: 'ivypresto-headline', serif;
}

// Light default theme
body {
 	--bg-color: var(--color-light);
 	--bg-content-color: white;
 	--body-color: var(--color-earth);
 	--link-color: var(--color-dorna);
 	--border-color:  rgba(0,0,0,.1);;
}

// Make  things smaller for mobile
@media screen and (max-width: 650px) {
	html {
		--base-font-size: 17px;
	}
	body {
		--space: 1.5rem;
		--header-height: 60px;
	}
}


// Override variables for Dark theme
body[data-theme="dark"] {
 	--bg-color: var(--color-night);
 	--bg-content-color: black;
 	--border-color:  rgba(255,255,255,.1);;
 	--body-color: var(--color-light);
 	--link-color: var(--color-dorna);
}